<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>empwebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<context-param>

		<param-name>code</param-name>
		<param-value>91</param-value>
	</context-param>

	<servlet>
		<servlet-name>myFirstServlet</servlet-name>
		<servlet-class>com.testyantra.empwebapp.servelts.MyFirstServlet</servlet-class>
		
		<init-param>
			<param-name>message</param-name>
			<param-value>This is Servlet Config Param</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>myFirstServlet</servlet-name>
		<url-pattern>/myFirstServlet</url-pattern>
	</servlet-mapping>
	



	<servlet>
		<servlet-name>getEmployeeServlet</servlet-name>
		<servlet-class>com.testyantra.empwebapp.servelts.GetEmployeeServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>getEmployeeServlet</servlet-name>
		<url-pattern>/getEmployee</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>getEmployeeServlet2</servlet-name>
		<servlet-class>com.testyantra.empwebapp.servelts.GetEmployeeServlet2</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>getEmployeeServlet2</servlet-name>
		<url-pattern>/venkitestyantra</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>myFirstjsp</servlet-name>
		<jsp-file>/myFirstjsp.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>myFirstjsp</servlet-name>
		<url-pattern>/Firstjsp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>secondJSP</servlet-name>
		<jsp-file>/WEB-INF/JSP/MySecondJSP.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>secondJSP</servlet-name>
		<url-pattern>/second</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/Views/LoginForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>homePage</servlet-name>
		<jsp-file>/Views/HomePage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePage</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>searchPage</servlet-name>
		<jsp-file>/Views/SearchEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchPage</servlet-name>
		<url-pattern>/searchEmployeeForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addEmployee</servlet-name>
		<jsp-file>/Views/AddEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addEmployee</servlet-name>
		<url-pattern>/addEmployeeForm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteEmployee</servlet-name>
		<jsp-file>/Views/DeleteEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteEmployee</servlet-name>
		<url-pattern>/deleteEmployeeForm</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>updateEmployee</servlet-name>
		<jsp-file>/Views/UpdateEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateEmployee</servlet-name>
		<url-pattern>/UpdateEmployeeForm</url-pattern>
	</servlet-mapping>

</web-app>